@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);


.navbar-color {
    background-color:transparent;
    border-color: transparent;
}

.navbar-color1{
    background-color:#1E1C4B;
    border-color: #1E1C4B;
}
.nav-text {
	font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
	letter-spacing: 1px;
	color:#fff
}
.dropdown-toggle::after {
    display:none
}
.dropdown-item {
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
    padding:15px;
    letter-spacing: 1px;
    text-align: left;
	color:#1E1C4B
}
.dropdown-item:hover{
    background-color: rgba(42, 198, 198, 0.1);
}

.gradient {
    background-image: url(../images/Rectangle.png);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header{
    color:#fff;
}
.masthead {
    height: auto;
    min-height: 500px;
    background-image: url(../images/ice-rinks-facebook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .marginright {
    margin-right : 0px;
}

.navbar-toggler
{
    background-color: #2AC6C6;
    border: 1px solid #1E1C4B;
}


.intro-text {  
    padding-top: 200px;
    padding-bottom: px;
    font-weight: bold;
    font-size: 48pt;
    margin-bottom: 25px;
    color:#fff;
    font-family: 'Raleway', Sans-serif;
}
.smtext {
    font-size:14pt;
    font-weight: 600;
    color:rgb(247, 249, 239, 0.5);
}
.mdtext {
    font-size:18pt;
    font-weight: bold;
}
.btn1 {
    color: #fff;
    background-color: #2AC6C6;
    border-color: #2AC6C6;
    font-family: "Raleway",sans-serif;
    font-size: 18pt;
    font-weight: 600;
    padding: 25px 40px;
}
.more {
    text-align:  left;
    color:#4CE5ED;
    font-weight: 600;
    font-size: 18pt;
}
.slider-box{
    background-color: #1E1C4B;
    text-align: left;
    padding-left:60px;
    padding-top:100px;
    padding-bottom:64px;
    left: 50%;
    right: 0px;
    bottom: 0px;
}

.next,.prev {
    background-color:#1e1c4b;
    width: 72px;
    height: 72px;
    top:auto;
}

.slider-text{
    color:#4CE5ED;
    font-weight: bold;
    font-size: 12pt;
}
.slider-text-sm{
 
    color:#CECECE;
    font-size: 16pt;
}
.link-text{
    font-size: 14pt;
    font-weight: 600;
    color:#4CE5ED
}

.body{
    font-family: 'Raleway', Sans-serif;
    background-color: #F7F9EF;
}

.adres {
    padding-top: 72px;
    padding-bottom:550px;
    padding-left:40px;
    left: 1150px;
    position: absolute;
    right: 0;
}
hr {
    border: none; /* Убираем границу */
    background-color: rgb(255, 255, 255, 0.1);/* Цвет линии */
    color: rgb(255, 255, 255, 0.1); /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }

.list-unstyled {
    font-family: 'Raleway', Sans-serif;
    font-size:12pt;
    font-weight: 600;
    text-transform: uppercase;
}
.text-uppercase{
    font-family: 'Montserrat', Sans-serif;
    font-size:16pt;
    font-weight: bold;
    text-transform: uppercase;
    color:#F7F9EF;
}
.zag {
    font-family: 'Raleway', Sans-serif;
    color:#1E1C4B;
    font-size: 32pt;
    font-weight: bold;
    margin-bottom: 32px;
}
.newstext {
    font-size:16pt;
    font-family: 'Raleway', Sans-serif;
    color:#737373;
}

.modal-dialog { 
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal {
    text-align: center;
}